<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TheBank Application Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<!--/*@thymesVar id="txList" type="java.util.List"*/-->
<!--/*@thymesVar id="tx" type="com.irukanji.bankapp.model.Transaction"*/-->
<div class="container-fluid" style="margin-top: 20px">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">List of Transactions</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(txList)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Tx ID</th>
                                <th>AccID FROM</th>
                                <th>AccID TO</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                            </thead>

                            <tr th:each="tx : ${txList}">
                                <td th:text="${tx.id}">334</td>
                                <td th:text="${tx.accountIdFrom}">22</td>
                                <td th:text="${tx.accountIdTo}">Crazy Horse st.</td>
                                <td th:text="${tx.txAmount}">311</td>
                                <td th:text="${tx.txTime}">311</td>

                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <a class="btn btn-primary" href="#" th:href="@{'/transact'}" role="button">Create new transaction</a>
            <td><a href="#" th:href="@{'/index'}">Start Page</a></td>
            <p/><p/>

            <!-----------------------------------FORM OF FILTERING RESULTS------------------------------>
            <div class="col-md-6 col-md-offset-3">
                <form th:action="@{/sort/}" method="post">

                    <div class="panel-group">
                        <div class="panel panel-primary">

                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6 form-group" >
                                        <label>Client ID</label>
        <input type="text" class="form-control" th:name="id" placeholder="Enter client id"/>
                                    </div>

                                    <div class="col-md-6 form-group" >
                                        <label>Date FROM</label>
        <input type="date" class="form-control" th:name="dateFrom" />
                                    </div>

                                    <div class="col-md-6 form-group" >
                                        <label>Date TO</label>
        <input type="date" class="form-control" th:name="dateTo" />

                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>
</div>

</body>
</html>